@charset "UTF-8";

/*---- 검색창CSS ----*/
#inputSearch {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1;
}

#ex {
	style="display: table;
	margin-bottom: 0px;"
}

.juaFont {
	font-family: 'Jua';
}

#userImg {
    width: 40px;
    height: 40px;
}

#btn-category {
	background-color: #fff;
	width: 80px;
}

#btnCommentWrite {
	background: #FF7A85;
	border: none;
	color: #fff;
}