<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.mypage.MypageDao">
	
	<delete id="deleteByUserno" parameterType="int">
		DELETE ani_user
		WHERE userno = #{userno}
	</delete>
	
	<update id="updateByUserno" parameterType="AniUser">
		UPDATE ani_user
		SET username = #{username}, usernick = #{usernick}, phone = #{phone}
		WHERE userno = #{userno}
	</update>

</mapper>